@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --bg-color: white;
  --text-color: black;
  --theme-color: red;
  --secondary-font: "Anton", sans-serif;
  --third-font: "Satisfy", cursive;
}


body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  transition: all 0.3s ease;
  font-size: 18px;
}

a{
    text-decoration: none;
    color: var(--text-color);
}
body.dark {
  --bg-color: #000000;
  --text-color: #f1f1f1;
  --theme-color:#ffa800;
}

.top_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 20px;
}

.top_nav .routes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

.top_nav>a:nth-child(1){
    color: var(--theme-color);
    font-family: var(--secondary-font);
    letter-spacing: 1px;
    font-size: 20px;
}

.main_section .portfolio>p:nth-child(2){
    font-family: var(--secondary-font);
    font-size: 260px;
    text-align: center;
}

.main_section .portfolio>p:nth-child(1){
    font-family: var(--third-font);
    font-size: 140px;
    color: var(--theme-color);
    transform: rotate(-6deg);
    position: absolute;
    left: 36%;
    top: 20%;
}

.taglines{
    display: flex;
    justify-content: center;
    gap: 536px;
    margin-top: -72px;
    align-items: center;
}

footer{
    position: fixed;
    bottom: 40px;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 170px;
    width: 100%;
}

footer>div i{
    color: var(--theme-color);
    font-size: 22px;
    margin-left: 6px;
}